*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#textarea1 {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 400px;
    height: 600px;
    resize: none;
}

#canvas1 {
    /* background: black; */
    border: 2px solid gray;
    position: absolute;
    top: 10px;
    left: 450px;
    width: 1000px;
    height: 600px;
}

#id_btn_generate {
    position: absolute;
    top: 650px;
    left: 10px;
    width: 400px;
    height: 30px;
}

/* #id_btn_save {
    position: absolute;
    top: 700px;
    left: 10px;
    width: 400px;
    height: 30px;
} */